

html,
body {
    margin: 0;
    padding: 0;
    
    width: 100%;
    height: 100%;
    
    font-family: Helvetica, Sans-Serif;
    user-select: none;
    box-sizing: border-box;
}

div {
    box-sizing: border-box;
}